@use "../abstracts" as *;

.services {
  &__card-list {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(4, auto);
    column-gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    margin-top: 1.5rem;

    @media (max-width: map-get($breakpoints, "large")) {
      // Large screensizes: monitors, laptops
      justify-content: center;
      grid-template-columns: repeat(2, 40%);
    }

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
    }

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
      grid-template-columns: unset;
      justify-content: unset;
      width: 100vw;
    }
  }

  &__card-masterlist {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1rem;
    margin-top: 1.5rem;
    row-gap: 1rem;

    @media (max-width: map-get($breakpoints, "large")) {
      // Large screensizes: monitors, laptops
      justify-content: center;
      grid-template-columns: repeat(2, 40%);
    }

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
    }

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
      grid-template-columns: unset;
      justify-content: unset;
      width: 100vw;
    }
  }

  &__card {
    display: grid;
    align-content: flex-end;
    background: $white-1;
    border-radius: 1vw;
    border: 3px solid $active-green;
    padding: 1rem;
    max-width: 18rem;
    height: 10rem;

    @media (max-width: map-get($breakpoints, "large")) {
      // Large screensizes: monitors, laptops
    }

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      max-width: calc(100% - 2rem);
    }

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
    }

    box-sizing: border-box;

    &--consultation {
      grid-row: span 2;
      height: 100%;
      background: url(../assets/img/consultation.svg);
      // background-position: bottom 45%;
      background-repeat: no-repeat;

      @media (max-width: 45rem) {
        grid-row: unset;
        background-position: right 10% bottom 45%;
        background-size: 60%;
        height: unset;
      }
    }

    &--childhood,
    &--childhood-female,
    &--childhood-male {
      background: url(../assets/img/childhoodcare.svg);
      background-position: right 10% bottom 45%;
      background-size: 60%;
      background-repeat: no-repeat;
    }

    &--prenatal,
    &--maternal {
      background: url(../assets/img/pre-natal.svg);
      background-position: right 10% bottom 45%;
      background-size: 60%;
      background-repeat: no-repeat;
    }

    &--deworming {
      background: url(../assets/img/deworming.svg);
      background-position: right 10% bottom 45%;
      background-size: 60%;
      background-repeat: no-repeat;
    }

    &--searchdestroy {
      background: url(../assets/img/search-and-destroy.svg);
      background-position: right 10% bottom 45%;
      background-size: 60%;
      background-repeat: no-repeat;
    }

    &-visits {
      &--number {
        font-weight: 900;
        font-family: Poppins;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
      transition: $ease-in-out;
      box-shadow: $drop-shadow;
    }
  }
}

.recent-updates {
  &__card {
    // See mixins.scss for referrence
    @include card(1.75rem);

    .editor {
      &__details {
        color: $black-1;
        line-height: 1.2;
        text-align: justify;
        margin-bottom: 1rem;
      }

      &__action {
        &--edited {
          color: $hover-green;
        }

        &--red {
          color: $red;
        }
      }

      &__name {
        font-weight: 500;
      }
    }
  }

  &__btn {
    text-align: end;
  }
}

.patient-profile {
  &__card {
    @include card(1.5rem 2rem);
    color: $black-1;
    width: 100%;
    margin-bottom: 2rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      @include card(1.5rem 1rem);
    }
  }

  &__item,
  &__list {
    padding-inline-start: unset;
    margin-block: auto;
  }

  li {
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    row-gap: 1.5rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      grid-template-columns: unset;

      margin-left: 1rem;
      justify-items: left;
    }

    &--center {
      display: grid;
      place-items: center;
      margin-inline: auto;

      li {
        margin-bottom: 0;
      }
    }
  }

  &__item:last-child {
    display: grid;
    align-content: space-between;
    margin-block: unset;
  }

  &__category {
    display: block;
    font-size: 0.8rem;
    color: $black-3;
  }

  &__name {
    margin-bottom: 0;
  }

  &__contact {
    color: $black-3;
  }
}

.medical-history {
  &__service__date-availed {
    font-size: 0.85rem;
  }

  &__card {
    overflow: hidden;
    @include card(none);

    li {
      margin-bottom: unset;
    }

    &__header {
      font-size: 0.5rem;
    }

    &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr) 5rem;
      padding-inline-start: unset;
      padding: 1rem 1.5rem;
      margin-block: 0;
      background: $white-2;
      align-items: center;

      @media (max-width: map-get($breakpoints, "medium")) {
        // Medium smartphone
        grid-template-columns: repeat(2, 1fr) 1rem;
      }
    }

    ul:nth-child(2n + 1) {
      background: $white-1;
    }
  }

  &__header {
    color: $black-2;
  }

  a {
    font: unset;
  }
}

.edit-history {
  &__card {
    @include card(none);
    overflow: hidden;
  }

  &__header {
    background: $hover-green;
    padding: 1rem 1.5rem;
    color: $white-1;
    vertical-align: middle;

    svg {
      height: 1.1rem;
      width: 1.1rem;

      path {
        fill: currentColor;
      }
    }
  }

  &__title {
    display: inline;
    margin-left: 0.3rem;
  }

  &__item,
  &__list {
    padding-inline-start: unset;
    margin-block: auto;
    padding: 0.5rem;
    color: $black-2;
  }

  hr {
    @include hr;
  }

  &__editor {
    color: $green;
  }
}

.backup {
  &__card {
    @include card(none);

    &__row {
      display: grid;
      // grid-template-columns: repeat(5, minmax(80px, 1fr));
      grid-template-columns: auto 15% 10% 15% 15% 10%;
      column-gap: 1rem;
      padding-inline-start: unset;
      padding: 1rem 1.5rem;
      margin-block: 0;
    }
  }

  &__attributes {
    color: $black-3;
  }

  &__info {
    background: $white-2;
    color: $black-2;
  }

  &__name {
    color: $black-1;
  }

  &__status--available {
    font-size: 0.8rem;
    color: $green;
    background: $active-green;
    padding: 0.3rem 1rem;
    border-radius: 100vw;
  }

  &__status--deleted {
    font-size: 0.8rem;
    color: $white-1;
    background: $red;
    padding: 0.3rem 1rem;
    border-radius: 100vw;
  }
}

.user-profile {
  &__card {
    @include card(1.5rem 2rem);
    color: $black-1;
    width: 100%;
    margin-bottom: 2rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      @include card(1.5rem 1rem);
    }
  }

  &__item,
  &__list {
    padding-inline-start: unset;
    margin-block: auto;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      &__btn {
        margin-left: auto;
      }
    }
  }

  li {
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    row-gap: 1.5rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      grid-template-columns: unset;

      margin-left: 1rem;
      justify-items: left;
    }

    &--center {
      display: grid;
      place-items: center;
      margin-inline: auto;

      li {
        margin-bottom: 0;
      }
    }
  }

  &__item:last-child {
    display: grid;
    align-content: space-between;
    margin-block: unset;
  }

  &__category {
    display: block;
    font-size: 0.8rem;
    color: $black-3;
  }

  &__name {
    margin-bottom: 0;
  }

  &__contact {
    color: $black-3;
  }
}
