// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation component.
// -----------------------------------------------------------------------------

@use '../abstracts' as *;

.navbar {
    
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    
    background: $white-1;
}

.navigation {
    display: flex;
    align-items: center;
    padding-block: 2rem;
    box-sizing: border-box;

    &__title {
        margin-right: auto;
    }

    &__search {
        margin-right: 1.25rem;
        background: $white-2;
        border-radius: .5vw;
        border: 1px solid $white-3;
        
        &:hover, 
        &:focus, 
        &:active {
            outline: $green solid 1px;
            background: $white-1
        }

        &__bar {
            background: none !important;
            display: inline;
            width: 18ch;
            // transition: all ease-linear 600ms !important;
            transition: $fade;

            @media (max-width: 62rem) {
                width: 15ch;
            }
            
            &::placeholder{
                font-size: .8rem;
                // width: 16ch;
            }

            &:hover, 
            &:focus, 
            &:active {
                cursor: pointer;
                outline: none !important;
                width: 30ch;

                @media (max-width: 62rem) {
                    width: 20ch;
                }
                
            }
        }

        &__btn {
            display: inline;
            margin-right: .5rem;

        }
       
        &__icon {
            border-radius: 100vw;
            // background-color: $green;
            padding: .3rem;
            width: 1.8rem;
            height: 1.8rem;
            stroke: $black-3;
            fill: none;
            transition: $fade;
        
            &:hover, 
            &:focus, 
            &:active {
                cursor: pointer;
                background-color: $green;
                stroke: $white-1;
                fill: transparent;
                width: 2rem;
                height: 2rem;

                // width: ;
                
            }
        }
    }

    // Add New
    &__btn {
        width: 9.5rem;
        vertical-align: middle;

        &__icon {
            display: none;
        }
    
        @media (max-width: 61rem) {
            width: 2.5rem;
            border-radius: 100vw;
            
            &__icon {
                display: inline;
            }

            p {
                display: none !important;
            }
        }


    }
}
