// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar component.
// -----------------------------------------------------------------------------

@use "../abstracts" as *;

.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 50px);
  margin: 1.25rem;
  box-sizing: border-box;
  z-index: 2;

  border-radius: 1.5vw;

  background: $white-2;
  width: 13rem;

  // min-width: 10rem;
  // max-width: 17rem;

  & > * {
    color: $black-2;
  }

  @media (max-width: map-get($breakpoints, "large")) {
    // Large screensizes: monitors, laptops
    width: 6rem;
  }

  @media (max-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
  }

  @media (max-width: map-get($breakpoints, "small")) {
    // Small smartphone
    // display: none;
    width: 100vw;
    top: -200%;
    transition: 700ms linear;
  }

  &__list {
    display: flex;
    flex-direction: column;
    // width: 15vw - 2vw;
    width: calc(100% - 2rem);
    // max-width: 20vw - 2vw;
    -webkit-padding-start: unset;
    padding-inline-start: unset;

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 1.1;
    margin-left: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
      display: none;
    }
  }

  &__line {
    border-width: 100%;
    color: $black-3;
    margin-left: 0;
    margin-right: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;

    border-radius: 0.6rem;
    height: 3rem;

    transition: $ease-in-out;
    box-sizing: border-box;

    @media (max-width: map-get($breakpoints, "large")) {
      // Large screensizes: monitors, laptops
      width: 4rem;
    }

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
    }

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
      width: unset;
      height: 2.7rem;
      margin-bottom: 0.4rem;
    }

    &--active {
      background: $white-3;

      .sidebar__caption {
        font-weight: 600;
      }
    }

    &--margin-top {
      margin-top: auto;
    }

    &--search {
      display: none;

      @media (max-width: map-get($breakpoints, "small")) {
        // Medium smartphone
        display: flex;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background: $active-green;
      font-weight: 600;

      // SVG path
      path,
      circle {
        fill: $green;
      }

      .sidebar__caption {
        color: $green;
        font-weight: 600;
      }
    }
  }

  &__icon {
    margin-inline: 1.25rem;

    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    vertical-align: middle;

    path,
    circle {
      fill: $black-2;
    }
  }

  &__link {
    all: unset;
    display: flex;
    width: auto;

    &:hover {
      text-decoration: none;
    }
  }

  &__caption {
    display: inline;

    @media (max-width: map-get($breakpoints, "large")) {
      // Large screensizes: monitors, laptops
      display: none;
    }

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
    }

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
      display: unset;
    }
  }

  &--mobile {
    // display: block;
    // position: relative;
    // top: 0;
    margin: unset;
    padding-inline: 2rem;
    height: calc(100vh - 2rem);

    margin-top: 3.5rem;
    z-index: 1;
    top: 0;

    @media (min-width: map-get($breakpoints, "large")) {
      // Large screensizes: monitors, laptops
      all: unset;
    }
  }
}
