@use '../abstracts' as *;

.patient__table {
    display: none;
}

.patient,
.search-results {
    &__table {
        @include card(none);
        margin-top: 2rem;

        &__row {
            display: grid;
            // grid-template-columns: repeat(5, minmax(80px, 1fr));
            grid-template-columns: auto 20% 10% 25% 15%;
            padding-inline-start: unset;
            padding: 1rem 1.5rem;
            margin-block: 0;

        }

        ul:nth-child(2n+1) {
            background: $white-1;
        }
    }

    &__attributes {
        color: $black-3;
    }

    &__info {
        background: $white-2;
        color: $black-2;
    }

    &__name {
        color: $black-1;

        a {
            font: unset;
            color: $hover-green;
        }
    }

    &__option {
        display: flex;
        justify-content: space-around;
    }

    &__availed-service--deworming {
        font-size: .8rem;
        color: $green;
        background: $active-green;
        padding: .5rem 1rem;
        border-radius: 100vw;
    }

    &__availed-service--prenatal {
        font-size: .8rem;
        color: $yellow-1;
        background: $yellow-2;
        padding: .5rem 1rem;
        border-radius: 100vw;
    }

}

.backup {
    &__table {
        @include card(none);
        overflow: hidden;

        &__row {
            display: grid;
            // grid-template-columns: repeat(5, minmax(80px, 1fr));
            grid-template-columns: auto 15% 10% 15% 10% 15%;
            column-gap: 1rem;
            padding-inline-start: unset;
            padding: 1rem 1.5rem;
            margin-block: 0;
        }

        ul:nth-child(2n+1) {
            background: $white-1;
        }
    }

    &__attributes {
        color: $black-3;
    }

    &__info {
        background: $white-2;
        color: $black-2;
    }

    &__name {
        color: $black-1;
    }

    &__status--available {
        font-size: .8rem;
        color: $green;
        background: $active-green;
        padding: .3rem 1rem;
        border-radius: 100vw;
    }

    &__status--deleted {
        font-size: .8rem;
        color: $white-1;
        background: $red;
        padding: .3rem 1rem;
        border-radius: 100vw;
    }

    &__option > * {
        margin-left: 1.5rem;
    }
}

.bhw-account {
    margin-bottom: 5rem;
    
    &__table {
        margin-block: 1rem;
        overflow: hidden;
        @include card(none);

        &__row {
            display: grid;
            align-items: center;
            // grid-template-columns: repeat(5, minmax(80px, 1fr));
            grid-template-columns: auto 20% 10% 15% 15%;
            column-gap: 1rem;
            padding-inline-start: unset;
            padding: 1rem 1.5rem;
            margin-block: 0;

            li:last-child {
                justify-self: center;
            }

        }
        
        ul:nth-child(2n+1) {
            background: $white-1;

        }
    }

    &__header {
        color: $black-3;
    }

    &__info {
        background: $white-2;
        color: $black-2;
    }

    &__name {
        color: $black-1;
    }

}

.services {

    &__table {
        display: none;
        margin-block: 2rem;

        @include card(none);
        

        &__row {
            display: grid;
            align-items: center;
            // grid-template-columns: repeat(5, minmax(80px, 1fr));
            grid-template-columns: auto repeat(4, 15%);
            column-gap: 1rem;
            padding-inline-start: unset;
            padding: 1rem 1.5rem;
            margin-block: 0;
    
            li:last-child {
                justify-self: center;
            }
        }

        .view-report{
            float: left;
            margin-top: 1rem;
        }


        ul:nth-child(2n+1) {
            background: $white-1;
        }
    }

    &__header {
        color: $black-3 !important;
        font-size: .85rem;
        border-radius: 1vw;
        
    }

    &__info {
        background: $white-2;
        overflow: hidden;
        color: $black-2;
    }


    &__name,
    &__attributes__item {
        color: $black-1;

        & > * {
            vertical-align: middle;
            display: inline;
        }

        a {
            font: unset;
            color: $hover-green;
        }

    }


    &__option > * {
        margin-right: 2rem;
    }

    &__checkbox {
        display: inline;
        margin-right: 1rem;
        // vertical-align: middle;

    }

    &__btn {
        float: right;
        margin-block: 1rem;
    }
}

.recent-update {

    &__table {
        @include card(none);
        overflow: hidden;

        &__row {
            display: grid;
            align-items: center;
            // grid-template-columns: repeat(5, minmax(80px, 1fr));
            grid-template-columns: 1fr 20% 10%;
            column-gap: 1rem;
            padding-inline-start: unset;
            padding: 1rem 1.5rem;
            margin-block: 0;
    
            li:last-child {
                justify-self: center;
            }
        }

        ul:nth-child(2n+1) {
            background: $white-1;
        }

    }
    &__attributes {
        color: $black-3;
    }
    
    &__header {
        color: $black-3 !important;
        font-size: .85rem;
        border-radius: 1vw;
        
    }

    &__info {
        background: $white-2;
        overflow: hidden;
        color: $black-2;
    }

    &__attributes__item {
        color: $black-3;

        & > * {
            vertical-align: middle;
            // display: inline;
        }

        a {
            font: unset;
            color: $hover-green;
        }

    }

    &__details {
        letter-spacing: .2px;
        .name {
            color: $black-2;
            font-weight: 500;
        }

        .update-activity {
            border-radius: 100vw;
            font-size: .8rem;
            padding: .2rem .8rem;
            margin-inline: .5rem;

            &--delete {
                color: $white-1;
                background: $red;
            }

            &--edited {
                color: $white-1;
                background: $yellow-3;
            }

            &--archived {
                color: $white-1;
                background: #007f5f;
            }
        }

        .edit-patient {
            color: $black-1;
            font-weight: 600;
        }

        .service {
            border-radius: 100vw;
            font-size: .8rem;
            padding: .2rem .8rem;
            margin-inline: 1rem;

            &--deworming {
                color: $white-1;
                background: $red;
            }

            &--childhood {
                color: $white-1;
                background: $yellow-3;
            }

            &--prenatal {
                color: $white-1;
                background: #104911;
            }

            &--postnatal {
                color: $white-1;
                background: #e71d36;
            }

            &--search {
                color: $white-1;
                background: #28947f;
            }
        }

        .edit-time {
            font-style: italic;
        }

    }

    &__role {

        .role {
            border-radius: 100vw;
            font-size: .8rem;
            padding: .2rem .8rem;
            margin-inline: .2rem; 

            &--bhw {
                color: $white-1;
                background: #e71d36;
            }
            
            &--chn {
                color: $white-1;
                background: #893302;
                
            }
        }

    }
}