// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Chirp";
  src: url(../assets/chirp-regular-web.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Chirp";
  src: url(../assets/chirp-medium-web.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Chirp";
  src: url(../assets/chirp-medium-web.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Chirp";
  src: url(../assets/chirp-heavy-web.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Chirp";
  src: url(../assets/chirp-bold-web.woff) format("woff");
  font-weight: 900;
}
