// -----------------------------------------------------------------------------
// This file contains all application-wide Sass colors.
// -----------------------------------------------------------------------------

// Primary 
$green: #034A23;
$hover-green: #207647;
$active-green: #ECFCF2;

$red: #730808;

$yellow-1: #C2AB00;
$yellow-2: #FFFAD6;


// Neutral
$black-1: #212529;
$black-2: #414134;
$black-3: #909087;

$white-1: #FFFFFF;
$white-2: #FBFBFB; 
$white-3: #F0F0F0; 