// -----------------------------------------------------------------------------
// This file contains all application-wide Sass colors.
// -----------------------------------------------------------------------------

// Primary
$green: #034a23;
$hover-green: #207647;
$active-green: #ecfcf2;

$red: #730808;

$yellow-1: #c2ab00;
$yellow-2: #fff690;
$yellow-3: #ff7b00;

// Neutral
$black-1: #212529;
$black-2: #414134;
$black-3: #909087;

$white-1: #ffffff;
$white-2: #fbfbfb;
$white-3: #f0f0f0;
