// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use "./colors" as *;
@use "./variables" as *;
@use "./breakpoints" as *;

// Normal card style
@mixin card($padding) {
  background: $white-1;
  box-shadow: $drop-shadow;
  border: $active-green 1px solid;
  border-radius: 1vw;
  padding: $padding;
  box-sizing: border-box;
}

@mixin button-animation($bg, $color, $hover-text, $hover-background) {
  /* Button Animations */
  background-color: $bg;
  color: $color;

  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;

  span {
    padding: 0;
    vertical-align: middle;
  }

  svg {
    height: 1.1rem;
    width: 1.1rem;

    path {
      fill: $color;
    }
  }

  p {
    display: inline;
    font: inherit;
    color: $color;
  }

  &:focus,
  &:hover,
  &:active {
    color: $hover-text;

    p {
      color: $hover-text;
    }

    svg {
      path {
        fill: $hover-text;
      }
    }
  }

  // Need to put on a mixin
  &:before {
    background: $hover-background;
    border-radius: 0.5vw;

    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    transform: scaleX(1);
    color: $green;
  }
}

// hr style
@mixin hr {
  // height: 1px;
  // color: $white-3;
  margin-block: 1.5rem;
  border: 1px solid $white-3;
}

// For p tags with title above
@mixin title-above {
  margin-top: -0.3rem;
}

// Form format
@mixin form {
  margin-top: calc(2vh + 1rem);

  label {
    display: inline;
    margin-right: auto;
    // line-height: 1.2;
  }

  hr {
    @include hr;
  }

  // h2 {
  //   @include description-below;
  // }

  p {
    margin-bottom: 2rem;
  }

  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select {
    display: inline;
    width: 50%;

    @media (max-width: 45rem) {
      display: block;
      width: 100%;
      margin-top: 0.3rem;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    margin-right: 1rem;
  }

  &-item {
    margin-bottom: 1.5rem;
    padding-left: 1rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      padding-left: unset;
    }

    display: flex;
    align-items: center;

    @media (max-width: 45rem) {
      flex-wrap: wrap;
      flex-direction: column;

      &--reason {
        flex-direction: row;

        input[type="text"] {
          display: inline !important;
          width: 60%;
          margin-left: 1rem;
        }
      }
    }

    .three-input,
    .two-input {
      width: 50%;
      display: grid;

      label,
      input {
        display: block;
      }

      input {
        width: 100%;
        margin-bottom: 0.3rem;
      }

      & > * {
        margin-right: 1rem;
      }

      label {
        font-size: 0.75rem;
        color: $black-3;
        text-align: center;
        margin-right: unset;
      }
    }

    .three-input {
      grid-template-columns: 40% 1fr 40%;

      @media (max-width: 45rem) {
        width: 100%;
      }
    }

    .two-input {
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 45rem) {
        width: 100%;
      }
    }

    &--radio {
      justify-content: unset;

      label {
        margin-right: auto;
        width: 40%;

        @media (max-width: 45rem) {
          margin-bottom: 0.4rem;
          width: auto;
        }
      }

      div {
        margin-right: auto;
        // margin-left: 3rem;
        margin-left: auto;
        width: 60%;

        @media (max-width: 45rem) {
          width: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;

          & > label {
            margin-right: 1rem;
          }
        }

        label {
          width: unset;
          // margin-bottom: .5rem;
        }
      }
    }

    &--role-item {
      flex-direction: unset !important;
    }

    &--checkbox {
      justify-content: unset;

      label {
        margin-right: auto;
        width: 50%;
      }

      div {
        margin-right: auto;
        // margin-left: 3rem;
        width: 60%;

        @media (max-width: 62rem) {
          width: auto;
        }

        label {
          width: unset;
          // margin-bottom: .5rem;
        }
      }
    }

    &--textarea {
      label {
        width: 40%;

        @media (max-width: 45rem) {
          width: auto;
          margin-bottom: 0.2rem;
        }
      }
    }
  }

  &-doses {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;

    @media (max-width: 45rem) {
      display: block;
    }

    input[type="date"],
    input[type="text"] {
      width: 100%;
      margin-bottom: 1rem;
    }

    label {
      font-size: 0.75rem;
      color: $black-3;
    }

    .checkbox-label {
      font-size: unset;
      color: $black-2;
    }

    .dose-title {
      margin-bottom: unset;
      max-width: 70%;

      @media (max-width: 45rem) {
        margin-top: 2rem;
      }
    }

    .dose-indication {
      font-size: 0.85rem;
      color: $black-3;
      max-width: 70%;
    }

    &--checkbox {
      justify-content: unset;

      label {
        margin-right: auto;
        width: 50%;
      }

      div {
        margin-right: auto;
        // margin-left: 3rem;
        width: 60%;

        @media (max-width: 62rem) {
          width: auto;
          flex-direction: row;
        }

        label {
          width: unset;
          // margin-bottom: .5rem;
        }
      }
    }
  }

  &-btn {
    margin-block: 3rem;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-right: 1rem;
    }
  }
}

@mixin page-with-form-layout {
  display: inline-grid;
  grid-template-columns: auto 20%;
  -moz-column-gap: 5%;
  column-gap: 5%;
  grid-template-areas: "form section-link";

  @media (max-width: 62rem) {
    display: block;
  }

  &__title {
    // line-height: 1.2;
    margin-top: 0.5rem;
  }

  &__desc {
    @include title-above;

    &--bold {
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  &__form {
    @include form;
  }

  // .form {
  //   grid-area: form;
  // }

  .contents {
    position: fixed;
    margin-top: 5vh;
    max-width: 12.5rem;

    top: 15%;
    // right: 5%;
    left: 80%;

    &__list {
      -webkit-padding-start: unset;
      padding-inline-start: unset;
    }

    @media (max-width: 62rem) {
      display: none;
    }
  }
}

@mixin form-with-radio {
  &__form {
    display: grid;
    width: 50%;
    margin-inline: auto;
    margin-block: 1.5rem;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 0.5rem;

      &--role {
        & div {
          justify-content: unset;

          & > * {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
